@import 'buttons.css';
@import 'forms.css';
@import 'grid.css';
@import 'responsive.css';
@import 'typography.css';

:root{
    --brand-primary-hue: 53;
    --brand-primary-saturation: 90%;
    --brand-primary-lightness: 49%;
    --brand-primary: hsl(var(--brand-primary-hue), var(--brand-primary-saturation), var(--brand-primary-lightness));

    --brand-secondary-hue: 251;
    --brand-secondary-saturation: 5%;
    --brand-secondary-lightness: 60%;
    --brand-secondary: hsl(var(--brand-secondary-hue), var(--brand-secondary-saturation), var(--brand-secondary-lightness));

    --brand-tertiary-hue: 0;
    --brand-tertiary-saturation: 0%;
    --brand-tertiary-lightness: 13%;
    --brand-tertiary: hsl(var(--brand-tertiary-hue), var(--brand-tertiary-saturation), var(--brand-tertiary-lightness));

    --text-color-hue: 0;
    --text-color-saturation: 0%;
    --text-color-lightness: 93%;
    --text-color: hsl(var(--text-color-hue), var(--text-color-saturation), var(--text-color-lightness));
}

body {
    background-color: var(--brand-tertiary);
    font-family: 'Inconsolata', monospace;
    color: var(--text-color);
    overflow-y: scroll;
    overflow-x: auto;
    margin: 0;
}

.inline-container {
    display: inline-block;
}

@media screen and (min-width: 640px) {
    body {
        background-color: var(--brand-secondary);
    }
}
