.btn {
    --btn-bg: hsl(var(--brand-secondary-hue), var(--brand-secondary-saturation), 80%);
    --btn-bg-hover: var(--brand-secondary);
    --btn-bg-focus: var(--btn-bg-hover);
    --btn-fg: var(--brand-tertiary);
    --btn-fg-hover: var(--brand-primary);
    --btn-fg-focus: var(--brand-primary);
    --btn-border: 1px solid var(--brand-secondary);
    --btn-border-focus: 1px solid var(--brand-primary);
    --btn-padding: 4px 8px;
    --btn-margin: 1px 2px;
    box-sizing: border-box;
    padding: var(--btn-padding);
    margin: var(--btn-margin);
    text-decoration: none;
    color: var(--btn-fg);
    background-color: var(--btn-bg);
    border: var(--btn-border);
    border-radius: 4px;
    transition: background-color 0.15s ease-in-out,
                color 0.15s ease-in-out,
                border-color 0.15s ease-in-out;
    user-select: none;
    cursor: pointer;
    outline: none;
}

 .btn:hover{
    background-color: var(--btn-bg-hover);
    color: var(--btn-fg-hover);
}

.btn:active, .btn:focus{
    background-color: var(--btn-bg-focus);
    color: var(--btn-fg-focus);
    border: var(--btn-border-focus);
}
