#container{
    --container-padding: 24px;
    --container-margin-md: 18px;
    --controls-width-md: 250px;

    display: grid;
    grid-template-areas: 'header'
                         'controls'
                         'content';
    grid-template-columns: 100%;
    grid-template-rows: 2.5em auto 1fr;
    grid-gap: 2vh 4vw;
    background-color: var(--brand-tertiary);
    transition: margin 0.25s ease;
    padding: var(--container-padding);
    min-height: calc(100vh - (var(--container-margin-md)*2) - (var(--container-padding)*2));
}

#header{
    grid-area: header;
    transition: none;
}

#controls{
    transition: none;
    grid-area: controls;
    z-index: 2;
}

#content{
    transition: none;
    grid-area: content;
    z-index: 1;
    max-width: calc(90vw - var(--container-padding));
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 0 12px 0;
    overflow-x: auto;
}

@media screen and (min-width: 640px) {
    #container{
        grid-template-areas: 'header header'
                             'controls content';
        grid-template-columns: var(--controls-width-md) 1fr;
        margin: var(--container-margin-md);
        box-shadow: 5px 5px 5px 0px hsl(var(--brand-tertiary-hue), var(--brand-tertiary-saturation), 6%);
    }

    #content{
        max-width: calc(100vw - var(--controls-width-md));
        padding: 0;
        margin: 0;
    }
}
